.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
}


.card h2{
    font-size: 20px;
}

.card p {
    margin: 5px 0;
    color: rgb(36, 35, 35);
}
.card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.price-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: green;
 
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen;
}
#totalPrice {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: darkgreen;
}